@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            Aspenware Project Rover
        </p>
    </div>
</section>
}


<h3>About Aspenware Project Rover</h3>

<ol class="round">
    <li class="one">
        <h5>Call to Action 1</h5>
        <p>Call to action 1 copy</p>
    </li>
    <li class="two">
        <h5>Call to Action 2</h5>
        <p>Call to action 2 copy</p>
    </li>
    <li class="three">
        <h5>Call to Action 3</h5>
        <p>Call to action 3 copy</p>
    </li>
</ol>

<section class="features">
    <section class="feature">
        <img src="@Url.Content("~/images/aspNetHome.png")" alt="ASP.NET" />
        <h3></h3>
        <p>
        </p>
    </section>
    <section class="feature">
        <img src="@Url.Content("~/images/NuGetGallery.png")" alt="NuGet" />
        <h3></h3>
        <p>
        </p>
    </section>
    <section class="feature">
        <img src="@Url.Content("~/images/findHosting.png")" alt="Hosting" />
        <h3></h3>
        <p>
        </p>
    </section>
</section>